{% extends 'base.html' %}
{% block title %} 
{% if not user.is_authenticated %}
	Login 
{% endif %}
{% if user.is_authenticated %}
	Gestion de Egresados
{% endif %}
{% endblock %}

{% block body %}
	{% if user.is_authenticated %}		
			{% if not response_list %}				
				{% if surveys_list %}					
				  <ul>
				  	{% if user.is_authenticated %}
					    <div class="formularios-encuesta">				    
					    {% for survey in surveys_list %}
					        <li>{{ survey.name }}
					        		(<a href="/survey/0/{{ survey.id }}/1">nuevo</a>)
					    {% endfor %}
					    </div>
				    {% endif %}
				  </ul>
				 
				{% else %}
					<div class="survey-right">
				   		<p>No hay formularios disponibles para cargar.</p>
				    </div>
				{% endif %}				
			{% endif %}
			{% if user.is_authenticated %}   
	  			{% if response_list %}	 
	  			<div class="formularios-encuesta">	
	  			<div class="survey-description">						
					<b>Formularios en proceso de carga</b><br><br>
				</div>	 				
	    		<ul>
	    	  		{% for response in response_list %}
	  	        		<li>{{ response.survey.name }} - {{ response.interviewee.first_name }} {{ response.interviewee.last_name }}
	  	            	<a href="/survey/{{ response.id }}/{{ response.survey.id }}/{{ response.category.name }}/">(continuar carga)</a>
	  	    		{% endfor %}
	    		</ul>
	    		</div>	  			
	  			{% endif %}
			{% endif %}		
	
	{% endif %}
	{% if not user.is_authenticated %}
		<div class="login-encuesta">				
			<div class="survey-description">		
				<label><b>Login</b></label><br/><br/>
			</div>
			<div class="survey-description">
				<form action="" method="POST">{% csrf_token %}
				{{form.as_p}}
				<input type="submit" value="Login" />
				</form>
				{% if message %}
					{{ message }}
				{% endif %}	
			</div>
		</div>
	{% endif %}
{% endblock %}
